.container {
    background: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
    width: 100%;
    height: 100vh;
}
.dark-container {
    background: hsl(207, 26%, 17%);
}

/* countries ================================ */
.countries-outer {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: 75%;
}
.countries-outer::-webkit-scrollbar {
    display: none;
}
.countries {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    gap: 5.2%;
    flex-wrap: wrap;
}

/* mobile================================= */
@media (max-width: 375px) {
    .search-filter-outer {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .search-filter {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .search {
        width: 100%;
    }
    .filter-option-outer {
        width: 70%;
    }
    .filter-option-outer ul {
        position: absolute;
        top: 21rem;
        min-width: 14.8rem;
    }
    .countries {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: unset;
    }
}

.noDisplay {
    display: none !important;
}
