/* filter and search ============================= */

.search-filter-outer {
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.search-filter {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* filter========================== */
.filter-outer {
    display: flex;
}
.filter-inside {
    display: flex;
    gap: 0.5rem;
}
.filter {
    background: white;
    color: hsl(209, 23%, 22%);
    padding: 1.5rem 1.5rem;
    border: none;
    border-right: 15px solid white;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 500;
}
.dark-filter {
    background: hsl(209, 23%, 22%);
    color: white;
    border: none;
    border-right: 15px solid hsl(209, 23%, 22%);
}

/* search==================== */
.search-outer {
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 0rem 2rem;
    flex-basis: 37%;
}
.dark-search-outer {
    background: hsl(209, 23%, 22%);
}
.search {
    flex-basis: 100%;
    border: none;
    padding: 1.5rem 1rem;
    /* background: hsl(0, 0%, 52%); */
}
.search:focus {
    outline: none;
}
.dark-search {
    background: hsl(209, 23%, 22%);
}
.dark-search:valid {
    color: rgb(226, 209, 209);
}
.search::placeholder {
    font-size: 1rem;
}
.dark-search::placeholder {
    color: white;
}

@media (max-width: 450px) {
    .search-filter-outer {
        margin-top: 1rem;
    }
    .search-filter {
        flex-direction: column;
        align-items: unset;
    }
    .search-outer {
        width: 100%;
    }
    .search::placeholder {
        font-size: 0.9rem;
    }
    .filter-outer {
        width: 100%;
    }
    .filter-inside {
        overflow-x: scroll;
    }
    .filter {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        padding: 1.5rem 1rem;
    }
}
