/* filter and search ============================= */

.search-filter-outer {
    margin-top: 4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.search-filter {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* filter========================== */

.filter {
    background: white;
    color: hsl(209, 23%, 22%);
    padding: 1.5rem 1.5rem;
    border: none;
    border-right: 15px solid white;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 500;
}
.dark-filter {
    background: hsl(209, 23%, 22%);
    color: white;
    border: none;
    border-right: 15px solid hsl(209, 23%, 22%);
}

/* search==================== */
.search {
    flex-basis: 37%;
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 7px;
    /* background: hsl(0, 0%, 52%); */
}
.dark-search {
    background: hsl(209, 23%, 22%);
}
.dark-search:valid {
    color: white;
}
.search::placeholder {
    font-size: 1rem;
    background: url("../../assets/search-log.svg") no-repeat;
    position: relative;
    left: 1rem;
}
.dark-search::placeholder {
    color: white;
}

@media (max-width: 400px) {
    .search-filter-outer {
        margin-top: 0.5rem;
    }
    .search-filter {
        flex-wrap: wrap;
    }
    .search {
        flex-basis: 100%;
        margin-top: 0.5rem;
        padding: 1rem, 1.5rem;
    }
    .search::placeholder {
        font-size: 0.9rem;
        background: url("../../assets/search-log.svg") no-repeat;
        background-size: 15px 15px;
        position: relative;
        left: 1rem;
    }
    .filter {
        margin-top: 0.5rem;
        font-size: 1rem;
        padding: 1rem;
    }
}
